/node_modules
/express/node_modules
/todo-app/todo-backend/mongo_data/.bash_history
/todo-app/todo-backend/mongo_data/.mongodb/mongosh/65c8001f27c80f541e6be7f5_log
/todo-app/todo-backend/mongo_data/.mongodb/mongosh/65c8001fe86eaf195a22d0ba_log
/todo-app/todo-backend/mongo_data/.mongodb/mongosh/65c80020350e78b5d4ab750c_log
/todo-app/todo-backend/mongo_data/_mdb_catalog.wt
/todo-app/todo-backend/mongo_data/collection-0--4659828582812054730.wt
/todo-app/todo-backend/mongo_data/collection-2--4659828582812054730.wt
/todo-app/todo-backend/mongo_data/collection-4--4659828582812054730.wt
/todo-app/todo-backend/mongo_data/collection-7--4659828582812054730.wt
/todo-app/todo-backend/mongo_data/collection-10--4659828582812054730.wt
/todo-app/todo-backend/mongo_data/.mongodb/mongosh/config
/todo-app/todo-backend/mongo_data/index-1--4659828582812054730.wt
/todo-app/todo-backend/mongo_data/index-3--4659828582812054730.wt
/todo-app/todo-backend/mongo_data/index-5--4659828582812054730.wt
/todo-app/todo-backend/mongo_data/index-6--4659828582812054730.wt
/todo-app/todo-backend/mongo_data/index-8--4659828582812054730.wt
/todo-app/todo-backend/mongo_data/index-9--4659828582812054730.wt
/todo-app/todo-backend/mongo_data/index-11--4659828582812054730.wt
/todo-app/todo-backend/mongo_data/diagnostic.data/metrics.2024-02-10T23-00-48Z-00000
/todo-app/todo-backend/mongo_data/diagnostic.data/metrics.2024-02-10T23-00-51Z-00000
/todo-app/todo-backend/mongo_data/diagnostic.data/metrics.2024-02-10T23-04-42Z-00000
/todo-app/todo-backend/mongo_data/diagnostic.data/metrics.2024-02-11T17-08-48Z-00000
/todo-app/todo-backend/mongo_data/diagnostic.data/metrics.2024-02-11T17-27-00Z-00000
/todo-app/todo-backend/mongo_data/diagnostic.data/metrics.2024-02-11T17-28-56Z-00000
/todo-app/todo-backend/mongo_data/diagnostic.data/metrics.interim
/todo-app/todo-backend/mongo_data/mongod.lock
/todo-app/todo-backend/mongo_data/.mongodb/mongosh/mongosh_repl_history
/todo-app/todo-backend/mongo_data/.mongodb/mongosh/snippets/package.json
/todo-app/todo-backend/mongo_data/sizeStorer.wt
/todo-app/todo-backend/mongo_data/storage.bson
/todo-app/todo-backend/mongo_data/WiredTiger
/todo-app/todo-backend/mongo_data/WiredTiger.lock
/todo-app/todo-backend/mongo_data/WiredTiger.turtle
/todo-app/todo-backend/mongo_data/WiredTiger.wt
/todo-app/todo-backend/mongo_data/WiredTigerHS.wt
/todo-app/todo-backend/mongo_data/journal/WiredTigerLog.0000000006
/todo-app/todo-backend/mongo_data/journal/WiredTigerPreplog.0000000001
/todo-app/todo-backend/mongo_data/journal/WiredTigerPreplog.0000000002
/todo-app/todo-backend/mongo_data/.mongodb/mongosh/65d0f7c2514ccf15f6a13fba_log
/todo-app/todo-backend/mongo_data/.mongodb/mongosh/65d0f800e75741238d13fbc8_log
/todo-app/todo-backend/mongo_data/.mongodb/mongosh/65d1c23cc63d032d66ac3d1e_log
/todo-app/todo-backend/mongo_data/.mongodb/mongosh/65d1c26429dfe00ed69cc221_log
/todo-app/todo-backend/mongo_data/.mongodb/mongosh/snippets/index.bson.br
/todo-app/todo-backend/mongo_data/diagnostic.data/metrics.2024-02-14T11-23-40Z-00000
/todo-app/todo-backend/mongo_data/diagnostic.data/metrics.2024-02-17T03-51-24Z-00000
